.employees-page{
    background:#f4f7fc;
    min-height:100vh;
    padding:45px;
}

/* Header */

.page-header{
    text-align:center;
    margin-bottom:40px;
}

.page-header h1{
    font-size:50px;
    color:#1e293b;
    margin-bottom:12px;
    font-weight:700;
}

.page-header p{
    color:#64748b;
    font-size:18px;
    max-width:700px;
    margin:auto;
    line-height:1.6;
}

/* Form */

.employee-form-card{

    background:#ffffff;
    padding:35px;

    border-radius:18px;

    box-shadow:0 10px 35px rgba(15,23,42,.08);

    margin-bottom:40px;
}

.form-title{

    font-size:24px;
    font-weight:600;

    color:#1e293b;

    margin-bottom:30px;
}

/* Table */

.employee-table-card{

    background:white;

    border-radius:18px;

    padding:30px;

    box-shadow:0 10px 35px rgba(15,23,42,.08);
}

.table-title{

    font-size:24px;
    font-weight:600;

    color:#1e293b;

    margin-bottom:25px;
}

.loading{

    text-align:center;

    font-size:22px;

    color:#64748b;

    padding:40px;
}

/* Animation */

.employee-form-card,
.employee-table-card{

    animation:fadeUp .5s ease;
}

@keyframes fadeUp{

    from{

        opacity:0;
        transform:translateY(25px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }
}